.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .nav-links a {
    margin-left: 24px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  
  .container {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .profile-box {
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    background-color: #e0e0e0;
  }
  
  .profile-img {
    background-color: #bdbdbd;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 10px;
  }
  
  .profile-name {
    font-size: 18px;
  }
  
  .profile-box:hover {
    background-color: #d6d6d6;
  }
  